<header>
<<<<<<< HEAD
  <nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="#" class="brand-logo center">Plan It!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/todo">To Do</a></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
=======
    
      
      <nav class="nav-extended center indigo darken-4">
    <div class="nav-wrapper center">
     <img class="center" src="/imgs/Plan-It.png">
     
    </div>
    <div class="nav-content">
      <span class="nav-title">PLAN-IT!</span>    
        
      </a>
>>>>>>> mconour
    </div>
  </nav>
      
      

    
</header>
<main>

            
           <div class="section">
        <div class="row">
            <!--To do list card-->
            <div class="col s12">

                <div class="container-todo">
                    <div class="header-todo">
                        <div class="clear">
                            <span id="title-todo">Organization Made Simple.</span>
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </div>
                       
                        <div id="date"></div>
                    </div>
                    <div class="content-todo">
                        <ul id="list">
                        </ul>
                        <div class="add-item">
                            {{!-- to do list add event --}}
                            <i class="fa fa-plus-circle" id="add" aria-hidden="true"></i>
                            <input type="text" id="input" placeholder="Add a To-Do">
                        </div>
                    </div>
                </div>
            </div>
<<<<<<< HEAD
            <div id="today-date"></div>
          </div>
          <div class="content-todo">
            <ul id="list">
            </ul>
            <div class="add-item">
              {{!-- to do list add event --}}
              <i class="fa fa-plus-circle" id="add" aria-hidden="true"></i>
              <input type="text" id="input" placeholder="Add a To-Do">
                          </div>
          </div>
=======
>>>>>>> mconour
        </div>
    </div>
    
    
     <div class="section">
        <div class="row">
            <!--current month calendar-->
            <div class="col s12">
                <div class="card large transparent" id="cal-card">
                    <div class="card-content">
                        <!-- Show Calendar -->
                        <div class="container" id="calendar-main"></div>
                        <!-- Show Current Date -->
                        <!-- <center>
                    <span class="date" id="today-date"></span>
                  </center> -->
                    </div>
                </div>
            </div>
            
               </div>
    </div>
    


    <!--bottom container for monthly important dates-->
    <div class="section">
        <div class="row">
            <div class="col s12">
                <div class="card medium">
                    <div class="card-content">
                        <span class="card-title">What's Coming Up?</span>
                        <p>Organizing made simply.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<footer class="page-footer center">
    <div class="footer-copyright">
        <div class="container">© 2019 Copyright The Clevengers</div>
    </div>
</footer>
