body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-image: url("/public/imgs/pens5.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	width: 960px
  }
  main {
	flex: 1 0 auto;
  }
  .page-footer {
	background-color: #1a237e;
  }

  #cal-card {
	border: none;
	box-shadow: none;
  }

  #calendar-main {
	table-layout: fixed;
	width: 100%;
	padding: 0px;
	
  }

.list-group-item {
  line-height: 2.5;
}

/* CALENDAR STYLING */
* {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    box-sizing: border-box;         /* Opera/IE 8+ */
}



#calendar-main {
	margin: 0 auto;
	size: 100%;
}

#today-date {
	color: blue;
}

/* END OF CALENDAR */

