/* General calendar styles */
table {
	font-size: 1em; /* All sizes are based on this font-size. */
	border: solid white;
	border-width: 1px;
}

caption {
	color: white;
	background-color: #1a237e;
	border: solid white;
	border-width: 1px;
	
}

#today-date {
	font-weight: bold;
	font-size: 20pt;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

caption .month, .year {
	font-size: 20pt;
}
/* Table-head */
table th {
	background: #1a237e;
	border: white solid 2px;
	color: white;
	text-align: center;
}
/* Table-columns */
table td {
	background: white;
	color: #1a237e;
	border: 2px solid #1a237e;
	
}
/* Hover-state */
table td:hover {
	background: #bdbdbd;
}
/* Current day styling */
table tbody tr .currentDay {
	color: #1a237e;
	background: #e0e0e0;
}
/* Clicked button (active button) */
table tbody tr .active {
	border-bottom: 4px solid #1a237e;
	background: #bdbdbd;
	color: #1a237e;
}